<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <form>
        {{!-- {{>header}} --}}
        <a href="/about">Go Back</a>
        <p>{{reason}}</p>
    </form>

    {{>footer}}
    </form>
</body>

</html>