<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <form>
      {{>header}}
       <p>For any assistance please log in to www.help.com</p>
        </form>
            
            {{>footer}}
        </form>
    </body>
</html>